<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Css/error.css" />
		<title>SunShine</title>
	</head>

	<body>
		
		<!--半圆-->
		<div id="circle"><img src="__PUBLIC__/images/error.png" />
		</div>
		<!--半圆 end-->

		<!--文字-->
		<div id="text">
			<p>操作错误，页面不存在</p>
		</div>
		<!--文字 end-->
	
		<div id="footer">copyright&copy;2015@SunShine </div>
	</body>
</html>
