   <div class="main-right">
           <div class="article-sort">
           <div class="content">
               <div class="type"  id="tui"><a href="">推荐文章</a></div>
               <div class="type" id="hot"><a href="">最新文章</a></div>
               <ul class="title-list">
                
               </ul>
            </div>
           </div>
           
         
        
           <div class="article-sort" style="margin-top:20px;height:295px;margin-bottom:20px;">
            <div class="content">
                 <div class="theme">链接</div>
                     <ul class="link-list">
                    <li><a href="http://jw.hzau.edu.cn/">本科生教务系统</a></li>
                     <li><a href="http://blog.163.com/m13545360016_1/">网易个人博客</a></li>
                     <li><a href="http://lib.hzau.edu.cn/">图书馆</a></li>
                     <li><a href="http://www.52feidian.net/">沸点官网</a></li>
                     <li><a href="http://sport.hzau.edu.cn/">华农体育部</a></li>
                     <li><a href="https://github.com/">github官网</a></li>
                     <li><a href="https://phphub.org/">PHPHub</a></li>
                     <li><a href="http://www.php100.com/">PHP100中文网</a></li>
                     <li><a href="http://www.nowamagic.net/librarys/veda/cate/WebDesign">WebDesign</a></li>
                     <li><a href="http://www.51cto.com/">51cto教程</a></li>
             </ul>
           </div>
           
             
        </div>