    <div id="header">
         <div class="header-top">
         <div class="left">
             <p class="header-title">SunShine个人博客</p>
             <p1>专注于web开发，注重每一个向上攀登的过程</p1>
         </div>
         
     <!--   <div class="right">
             <form id="index-search" action="" method="post">
                <input type="text" name="index-key" id="index-key" placeholder="请输入关键字进行搜索" autocomplete="off"/>
                <input type="submit" value="搜索" id="search-btn"/>
             </form>
         </div> -->  
         </div>
     
  <ul id="nav">
  
    <li class="jquery_out">
      <div class="jquery_inner">
        <div class="jquery"><a href="__URL__/index">首页</a></div>
      </div>
    </li>
    <volist name="parent" id="vo">
    <li><a href="__URL__/articlelist/e/{$vo.mid}">{$vo['mname']}</a>
      <ul class="drop">
       <volist name="result" id="li">
          <if condition="$vo['mid'] eq $li['parentid']"><li><a href="__URL__/GetAll/e/{$li.mid}">{$li['mname']}</a></li></if>
       </volist>  
      </ul>
    </li>

    </volist>
   <li><a href="__URL__/message">留言板</a>
    <li><a href="__URL__/feel">个人微语</a>
  </ul>
   
  </div>